.App {
  text-align: center;
  background-color: lightgreen;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.quote-container {
    background-color: green;
    color: white;
    margin: auto;
    margin-top: 100px;
    width: 50%;
    height: 300px;
    border-radius: 10px;
}

.btn {
    margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
